<%- include('header'); -%>
<h1>Compose</h1>
<form action="/" method="post">
<p><label for="">Title</label></p>
<p><input type="text" name="posttitle" size="100"  ></p>
<p><label for="">Post</label></p>
<p><textarea name="postbody" id="" cols="100" rows="5"></textarea></p>
<button type="submit" class="btn">Publish</button>
</form>
<%- include('footer'); -%>